{% extends 'base.html' %}



{% block main %}


<form method="post">
    <h2>регистрация транспорта</h2>
    <div>
        <label for=""></label>
        <input type="text" name="" placeholder="" autocomplete="off" required>
    </div>
    <div>
        <label for=""></label>
        <input type="text" name="" placeholder="" autocomplete="off" required>
    </div>
    <div>
        <label for=""></label>
        <input type="text" name="" placeholder="" autocomplete="off" required>
    </div>
    <button type="submit">зарегистрировать</button>
</form>

{% endblock %}